<mat-card>
    <mat-card-header>
      <mat-card-title>Los días en Hotel HIDDEN</mat-card-title>
    </mat-card-header><br><br>
    
    <mat-card-content>
      En Hotel HIDDEN priorizamos tus buenos momentos. 
      La convivencia familiar nos permite vivir juntos, generando espacios de inclusión y respeto. Conversar las diferencias para ponerse de acuerdo es una manera positiva de construir espacios y compromisos consensuados para la convivencia con nuestros seres queridos.
      Es muy importante conversar con todos los integrantes de la familia para fomentar esta convivencia ya que la forma en la que tu hijo convive en familia es fundamental para determinar el tipo de relaciones en las que se involucra, así como las decisiones que toma en otros ambientes sociales.
    </mat-card-content>
  </mat-card>
  <img src="../../assets/galeria.jpg" width="100%" alt="">

  <mat-icon>favorite</mat-icon><mat-icon>favorite</mat-icon><mat-icon>favorite</mat-icon>