<br>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
</head>

<h1 [ngClass]="'Fuente'"[ngStyle]="{'color':'darkgrey','font-style':'oblique'}"> VISION </h1>
<img src="../../assets/IMG_0844.jpg" style="width: 100%;" alt="">
<h3 [ngClass]="'Fuente CaractFuente'">
    Como vision en Hotel Hidden tenemos la de dar el mejor servicio
    a todos nuestros clientes con la mejor infraestructua y los mejores
    servicios del Estado de Aguascalientes, sin dejar fuera el apartado
    economico y la comodidad en su visita.

    <br>

    - Agradecemos mucho su preferencia y por confiar en nosotros -
</h3>

<br><br>