<body>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    
</head>
<section style=" color:beige" >
    <h3 style="color:beige" >Sobre nosotros</h3>
    <h2 style="color:beige" > Este es un proyecto universitario de la Universidad Autonoma de Aguascalientes</h2>
    <h2 style="color:beige" >Realizado por:</h2>
    <h3 style="color:beige" >Donovan Jose Jerez Ceja</h3>
    <h3 style="color:beige" >David Miguel esparza Segovia</h3>
    <h3 style="color:beige" >Fernanda Fabiola Delgado Ramirez</h3>
</section><br>
</body>